<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ModemId" value="6" />
    <add key="ModemSerialPortNumber" value="3" />
    <add key="SimCardPinCode" value="7384" />
    <add key="WebApplicationUrl" value="http://10.9.1.3" />
  </appSettings>
</configuration>